body{
    font-family: Arial, Helvetica,sans-serif;
    background-color: #c2e2fa;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
container{
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgb(222, 180, 246);
    width: 35px;
}
input{
    width:90%;
    padding:8px;
    margin: 80px;
    border: radius 5px;
    border: 1px solid #b8e2f4;
}